
body {
  background-color: black;
}

img {
  margin-top: 15px;
}

form {
  margin-top: 100px;
  align: center;
}

p {
  margin-top: 75px;
  font-size: 75px;
  color: white;
}

label {
  color: white;
  padding-bottom: 5px;
}

h1 {
  color: white;
  padding-top: 50px;
}
